/* 
  Responsive Web Design - Media Queries
  https://www.w3schools.com/css/css_rwd_mediaqueries.asp
*/
.App {
  /* self center in parent */
  margin: 0 auto;
  padding-bottom: 50px;
  /* border: 1px solid black; */
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App {
    max-width: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .App {
    max-width: 90%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .App {
    max-width: 80%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App {
    max-width: 70%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .App {
    max-width: 60%;
  }
}

.flex {
  display: flex;
}
.GutterColumn {
  height: 12px;
}
.GutterRow {
  display: inline-block;
  width: 8px;
}
.Divider hr,
.ListDivider hr {
  height: 1px;
}
.ListFooter {
  padding: 20px 0;
  text-align: center;
}

/* FOR EACH HOOK EXAMPLE COMPONENTS */

.HookExampleListItem {
  margin: 0 auto;
}

.HookExampleUsecase {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1rem;
}

.UsecaseTitle {
  font-size: 1.15rem;
}

.UsecaseSubtitle {
  font-size: 1.1rem;
  color: rgb(69, 69, 69);
}
