/* 
  Responsive Web Design - Media Queries
  https://www.w3schools.com/css/css_rwd_mediaqueries.asp
*/
.App {
  /* self center in parent */
  margin: 0 auto;
  /* border: 1px solid black; */
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .App {
    max-width: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .App {
    max-width: 90%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .App {
    max-width: 80%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App {
    max-width: 70%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .App {
    max-width: 60%;
  }
}

/* FOR EACH HOOK EXAMPLE COMPONENTS */

.HookExampleList hr {
  height: 1px;
  margin-top: 20px;
}

.HookExampleListItem {
  margin: 0 auto;
}
